@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    background-image: url(/static/images/TotFundal2.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333333;
}

.red-o {
    color: #f26914;
}

header, footer {
    background-color: #f26914;
    color: white;
    text-align: center;
    padding: 1rem;
}
main {
    padding: 2rem;
    text-align: center;
}
h1, h2 {
    margin: 0.5rem 0;
    font-family: Roboto;
}

.roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
  }


@media (max-width: 768px) {
    main {
        padding: 1rem;
    }
    h1 {
        font-size: 1.5rem;
    }
}

