<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Post</title>
</head>
<body>
    <h1>Create a New Blog Post</h1>
    <form method="POST">
        {% csrf_token %}
        <label>Title:</label><br>
        <input type="text" name="title"><br><br>
        <label>Content:</label><br>
        <textarea name="content"></textarea><br><br>
        <button type="submit">Create Post</button>
    </form>
    <a href="{% url 'post_list' %}">Back to All Posts</a>
</body>
</html>
