{% extends 'base.html' %} 
{% load static %}
{%block content%}
<!--the home page-->
<img src="static/images/imggg.jpg" alt="TeamTalk Image" style="max-width: 100%; height: auto; margin-bottom: 10px;">

    <h1><strong>Why Choose TeamTalk?</strong></h1> 
    <h2>A positive space free from negativity and judgment.</h2>
   
    <h2>Designed to foster meaningful connections and constructive discussions.</h2>
    
    <h2>Built with a commitment to making everyone feel included, respected, and valued.</h2>
    <br>
    
    <h5><strong><a href="https://8000-yazdantaher-djangoblogw-zcxhutlg9rc.ws.codeinstitute-ide.net/blog/">Visit here!</a></strong></h5>
    
{%endblock%}